# Visual Studio files
   .vs/
   *.user
   *.userosscache
   *.sln.docstates

   # Build results
   [Dd]ebug/
   [Rr]elease/
   x64/
   x86/
   [Aa][Rr][Mm]/
   [Aa][Rr][Mm]64/
   bld/
   [Bb]in/
   [Oo]bj/
   [Ll]og/
   [Ll]ogs/

   # React / Node.js
   node_modules/
   npm-debug.log
   yarn-error.log

   # .NET Core
   project.lock.json
   project.fragment.lock.json
   artifacts/

   # Visual Studio Code
   .vscode/

   # Rider
   .idea/

   # User-specific files
   *.rsuser
   *.suo
   *.user
   *.userosscache
   *.sln.docstates

   # OS generated
   .DS_Store
   Thumbs.db