.inspections-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    padding: 20px;
    height: 100%;
    min-height: 100vh;
}

.grid-item {
    background-color: #FFF8DC;
    border: 1px solid #DEB887;
    padding: 20px;
    border-radius: 5px;
}

    .grid-item h4 {
        margin-top: 0;
        margin-bottom: 15px;
        color: #333;
    }

    /* Left column, top (Apiary selection and hive list) */
    .grid-item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 300px;
        overflow-y: auto;
    }

    /* Right column, top (Map) */
    .grid-item:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: 300px;
        background-color: #E0FFF0;
        border: 1px solid #98FB98;
    }

    /* Left column, middle (Calendar) */
    .grid-item:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-color: #FFF0F5;
        border: 1px solid #FFB6C1;
    }

    /* Right column, middle and bottom (Inspections and diseases) */
    .grid-item:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        background-color: #F0F8FF;
        border: 1px solid #87CEFA;
    }

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

#hiveContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.hive-button {
    background-color: #FFD700;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

    .hive-button.selected {
        background-color: #FFA500;
    }

.hive-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.inspection-data {
    justify-content: center;
    align-items: center;
}

.inspection-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.disease-image-placeholder {
    background-color: #ddd;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content-inspect {
    background-color: #FFFFE0;
    padding: 30px;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 88vh;
    overflow-y: auto;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group select,
    .form-group input[type="text"],
    .form-group textarea {
        width: 90%;
        padding: 8px;
        border: 1px solid #DEB887;
        border-radius: 4px;
        background-color: #FFF8DC;
        min-width: auto;
    }

    .form-group textarea {
        height: 50px;
        resize: vertical;
    }

.button-group {
    display: left;
    justify-content: flex-end;
    margin-top: 20px;
}

    .button-group button {
        padding: 10px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .button-group button:first-child {
            background-color: #6c757d;
            color: white;
        }

        .button-group button:last-child {
            background-color: #28a745;
            color: white;
        }

.disease-entry {
    border: 1px solid #DEB887;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    max-height:auto;

}


.form-group-broodFrames,
.form-group-broodPattern,
.form-group-honeyFrames,
.form-group-honeyPattern,
.form-group-eggFrame,
.form-group-eggPattern,
.form-group-emptyFrames,
.form-group-temperament,
.form-group-comments {
    width: 95%;
    padding: 8px;
    border: 1px solid #DEB887;
    border-radius: 4px;
    background-color: #FFF8DC;
    min-width: auto;
    max-width: 1600px;
}

.form-group-disease,
.form-group-sverity,
.form-group-description {
    border: 1px solid #DEB887;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}


.header {
    background-color: #FFFFE0;
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: #FFFFE0;
    text-align: center;
    padding: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    .inspections-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
    }

    .grid-item:nth-child(1),
    .grid-item:nth-child(2),
    .grid-item:nth-child(3),
    .grid-item:nth-child(4) {
        grid-column: 1 / 2;
        height: auto;
    }

    .grid-item:nth-child(1) {
        grid-row: 1 / 2;
    }

    .grid-item:nth-child(2) {
        grid-row: 2 / 3;
    }

    .grid-item:nth-child(3) {
        grid-row: 3 / 4;
    }

    .grid-item:nth-child(4) {
        grid-row: 4 / 5;
    }

    .modal-content-inspect {
        width: 95%;
        padding: 20px;
    }
}


@media (min-width: 768px) {
    .modal-content-inspect {
        width: 100%;
        padding: 15px;
    }


    .from-showInspect {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: auto auto;
        grid-template-rows: auto;
        grid-column-gap: 5px;
        grid-template-areas:
            "header header"
            "form-group-broodFrames form-group-broodPattern"
            "form-group-honeyFrames form-group-honeyPattern"
            "form-group-eggFrame form-group-eggPattern"
            "form-group-temperament form-group-emptyFrames"
            "form-group-comments form-group-comments"
            ".  footer";
    }

    .from-showDis {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        gap: 5px;
    }

    .from-addDis {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-columns: auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 5px;
        grid-template-areas:
            "form-group-disease form-group-description form-group-add"
            "form-group-sverity form-group-description form-group-remove";
    }

    .form-row {
        flex-direction: column;
    }

    .disease-entry {
        flex-direction: column;
        display: flex;
    }


    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }

    .form-group-add {
        grid-area: form-group-add;
    }

    .form-group-broodFrames {
        grid-area: form-group-broodFrames;
    }

    .form-group-broodPattern {
        grid-area: form-group-broodPattern;
    }

    .form-group-honeyFrames {
        grid-area: form-group-honeyFrames;
    }

    .form-group-honeyPattern {
        grid-area: form-group-honeyPattern;
    }

    .form-group-eggFrame {
        grid-area: form-group-eggFrame;
    }

    .form-group-eggPattern {
        grid-area: form-group-eggPattern;
    }

    .form-group-emptyFrames {
        grid-area: form-group-emptyFrames;
    }

    .form-group-temperament {
        grid-area: form-group-temperament;
    }

    .form-group-comments {
        grid-area: form-group-comments;
    }

    .form-group-disease {
        grid-area: form-group-disease;
    }

    .form-group-sverity {
        grid-area: form-group-sverity;
    }

    .form-group-description {
        grid-area: form-group-description;
    }

    .form-group-remove {
        grid-area: form-group-remove;
    }
}
